{{>navbarAlmacen}}
<div style="padding-top: 30px;"></div>
    <div class="container" id="container_border">
        <div class="row  justify-content-center align-items-center ">
            <h1 id="h1_list_employee">Lista de Productos</h1>
            {{#each items}}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> {{itemName}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Precio:$ {{price}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Código: {{code}}</h6>
                            <p class="card-text">Cantidad en almacen: {{cantidad}}</p>
                           <!-- <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>-->
                        
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <form action="/almacen/item/delete/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-block"><i class="far fa-trash-alt"></i></button>
                                </form>
                                <a class="btn btn-warning btn-block" href="/almacen/editItem/{{_id}}"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="" class="btn btn-success btn-block"><i class="far fa-file-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            {{else}}
            <div class="col-md-3">
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead"> Aún No Tenemos Productos</p>
                        <a href="/almacen/registerItem" class="btn btn-success btn-block" >Registrar Nuevo Producto</a>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="col-md-12 centro">    
                  <div style="padding-top: 30px;"></div>
                <a href="/almacen/registerItem" class="btn btn-info btn-block" >Registrar Nuevo Producto</a>
            </div>
        </div>
        
    </div>    
</div>